h2 
{
  color: #38d219;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  font-family: 'Fira Code', monospace;;
}

.typing {
  font-family: 'Fira Code', monospace;
  font-size: 24px;
  overflow: hidden;
  border-right: 2px solid #c9d1d9;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20) forwards, blink 0.7s steps(1) infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 300px; } /* ajuste para a largura do texto */
}

@keyframes blink {
  0%, 50%, 100% { border-color: #c9d1d9; }
  25%, 75% { border-color: transparent; }
}

.footer {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;   /* centraliza horizontalmente todo o conteúdo */
  align-items: center;       /* alinha verticalmente ícones e texto */
  gap: 10px;                 /* espaço entre ícones e texto */
}

.footer .social-icons a {
  color: #c9d1d9;
  margin: 0 5px;
  font-size: 20px;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #58a6ff;
}
