/* fundo preto global */
html, body, app-root {
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-family: 'Fira Code', monospace;
}

/* links claros */
a {
  color: #58a6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
